@inherits MudFab
@using MudBlazor.Extensions

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickedAsync"
            type="@ButtonType.ToDescriptionString()"
            href="@Link"
            target="@Target"
            rel="@(Target=="_blank"?"noopener":null)"
            disabled="@Disabled">
    <span class="mud-fab-label">
        @if (_executing)
        {
            <MudProgressCircular Indeterminate="true" Color="@IconColor" Size="@IconSize" />
        }
        else if (!string.IsNullOrWhiteSpace(Icon))
        {
            <MudIcon Icon="@Icon" Color="@IconColor" Size="@IconSize"></MudIcon>
        }
        @Label
    </span>
</MudElement>

@code {
    private bool _executing;

    private async Task OnClickedAsync(MouseEventArgs args)
    {
        if (!_executing)
        {
            _executing = true;
            await OnClickHandler(args);
            _executing = false;
        }
    }
}