@inject ApiClient Api
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudList Dense="true">
    @if (LootList is null)
    {
        <AuthorizeView Policy="@AppPolicies.CharacterOwnerOrAdmin" Resource="Character.Id">
            <MudListSubheader>
                <MudButton OnClick="CreateListAsync" Color="Color.Primary" Variant="Variant.Filled">Create</MudButton>
            </MudListSubheader>
        </AuthorizeView>
        <MudListSubheader>
            <p>@Character.Name does not have a loot list for Phase @Phase.</p>
        </MudListSubheader>
    }
    else
    {
        <MudListSubheader>
            <MudButton OnClick="RefreshAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary" Class="mr-2">Refresh</MudButton>
            @if (!Character.TeamId.HasValue)
            {
                <AuthorizeView Policy="@AppPolicies.CharacterOwnerOrAdmin" Resource="LootList.CharacterId">
                    <MudButton OnClick="SubmitAsync" Color="Color.Primary" Variant="Variant.Filled" Class="mr-2">Submit Application</MudButton>
                </AuthorizeView>
            }
            @if (LootList.Status == LootListStatus.Submitted)
            {
                <AuthorizeView Policy="@AppPolicies.CharacterOwnerOrAdmin" Resource="LootList.CharacterId">
                    <MudButton OnClick="RevokeAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Clear" Color="Color.Error" Class="mr-2">Revoke Application</MudButton>
                </AuthorizeView>
            }
        </MudListSubheader>
        <MudListSubheader>
            <MudText Typo="Typo.h6">
                Main Spec:
                <SpecIcon Spec="LootList.MainSpec" Size="IconSize.Tiny" />
                @LootList.MainSpec.GetDisplayName()
            </MudText>
            @if (LootList.OffSpec != LootList.MainSpec)
            {
                <MudText Typo="Typo.h6">
                    Off Spec:
                    <SpecIcon Spec="LootList.OffSpec" Size="IconSize.Tiny" />
                    @LootList.OffSpec.GetDisplayName()
                </MudText>
            }
        </MudListSubheader>
        <MudListSubheader>
            @if (LootList.Status == LootListStatus.Submitted)
            {
                if (LootList.SubmittedTo.Count == 0)
                {
                    <MudText Typo="Typo.body1" Color="Color.Error"><MudIcon Icon="@Icons.Material.Filled.Clear" Size="Size.Small" /> Loot List has been rejected.</MudText>
                }
                else
                {
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.LockClock" Size="Size.Small" /> 
                        Loot List has been submitted to @(LootList.SubmittedTo.Count == 1 ? "1 team" : $"{LootList.SubmittedTo.Count:N0} teams") awaiting approval.
                    </MudText>
                }
            }
            else if (LootList.Status == LootListStatus.Approved)
            {
                <MudText Typo="Typo.body1"><MudIcon Icon="@Icons.Custom.Uncategorized.AlertSuccess" Size="Size.Small" /> Loot List has been approved!</MudText>
            }
            else if (LootList.Status == LootListStatus.Locked)
            {
                <MudText Typo="Typo.body1"><MudIcon Icon="@Icons.Material.Filled.Lock" Size="Size.Small" /> Loot List is locked.</MudText>
            }
            @if (!LootList.Entries.Any(e => e.Rank > 0))
            {
                <MudText Typo="Typo.body1">Rankings will not be shown until the loot list has been locked.</MudText>
            }
        </MudListSubheader>

        @if (LootList.Status == LootListStatus.Locked || LootList.Entries.Any(e => e.Rank > 0))
        {
            var rows = LootList.Entries.GroupBy(e => e.Rank);
            var rowSize = rows.Select(row => row.Count()).Max();
            @foreach (var row in rows.OrderByDescending(g => g.Key))
            {
                <MudDivider />
                <MudListItem Class="mud-list-item-clickable" Style="cursor: auto">
                    <MudGrid>
                        <MudItem xs="12" md="3" lg="2">
                            <MudText Typo="Typo.h6" GutterBottom="false">Rank @row.Key</MudText>
                        </MudItem>
                        @foreach (var entry in row.Where(e => e.ItemId > 0))
                        {
                            <MudItem xs="12" md="9 / rowSize" lg="10 / rowSize">
                                <LootListViewerEntry LootList="LootList" Entry="entry" />
                            </MudItem>
                        }
                    </MudGrid>
                </MudListItem>
            }
        }
        else
        {
            @foreach (var entry in LootList.Entries.Where(e => e.ItemId > 0).OrderBy(e => e.ItemName))
            {
                <MudListItem>
                    <LootListViewerEntry Entry="entry" LootList="LootList" />
                </MudListItem>
            }
        }
    }
</MudList>

@code {
    [Parameter] public byte Phase { get; set; }
    [Parameter] public CharacterDto Character { get; set; } = null!;
    [Parameter] public LootListDto? LootList { get; set; }
    [Parameter] public EventCallback<LootListDto> OnListUpdated { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }

    public Task RefreshAsync()
    {
        return Api.LootLists.GetForCharacter(Character.Id, Phase)
            .OnSuccess(lists => ChangeListRef(lists.SingleOrDefault()))
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    protected override void OnParametersSet()
    {
        if (Character is null) throw new ArgumentNullException(nameof(Character));
    }

    private Task RevokeAsync()
    {
        System.Diagnostics.Debug.Assert(LootList?.Status == LootListStatus.Submitted);
        return Api.LootLists.SetEditable(LootList)
            .OnSuccess((_, _) =>
            {
                return OnListUpdated.InvokeAsync(LootList);
            })
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    private Task ChangeListRef(LootListDto? lootList)
    {
        LootList = lootList;
        return OnListUpdated.InvokeAsync(lootList);
    }

    private Task CreateListAsync()
    {
        System.Diagnostics.Debug.Assert(LootList is null);

        return Api.Characters.GetSpecs(Character.Id)
            .OnSuccess(async (specs, _) =>
            {
                if (specs.Count == 1)
                {
                    await Api.LootLists.Create(Character.Id, Phase, new() { MainSpec = specs[0] })
                        .OnSuccess((list, _) => ChangeListRef(list))
                        .SendErrorTo(Snackbar)
                        .ExecuteAsync();
                }
                else
                {
                    var response = await DialogService.ShowAsync<CreateListDialog, LootListDto?>(
                        string.Empty,
                        new()
                        {
                            [nameof(CreateListDialog.CharacterId)] = Character.Id,
                            [nameof(CreateListDialog.Phase)] = Phase,
                            [nameof(CreateListDialog.Specializations)] = specs,
                        });

                    if (response is not null)
                    {
                        await ChangeListRef(response);
                    }
                }
            })
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    private async Task SubmitAsync()
    {
        System.Diagnostics.Debug.Assert(LootList is not null);
        var teams = await DialogService.ShowAsync<PickTeamDialog, List<long>?>(
            string.Empty,
            parameters: new()
            {
                [nameof(PickTeamDialog.SelectedTeams)] = LootList.SubmittedTo.ToList()
            });

        if (teams is not null)
        {
            await Api.LootLists.Submit(LootList, teams)
                .OnSuccess((_, _) =>
                {
                    return OnSubmit.InvokeAsync();
                })
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }
}
