<div class="d-flex align-center">
    <MudTooltip Text="This was what was donated last month for priority in the current month.">
        <MudText Inline="false">
            <MudIcon Class="text-icon" Icon="@CustomIcons.HandCoin" />
            Completed @Donations.ThisMonth of @Donations.Maximum donations for this month.
        </MudText>
    </MudTooltip>
    @if (Donations.ThisMonth >= Donations.Maximum)
    {
        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small" Class="ml-1" />
    }
</div>
<div class="d-flex align-center">
    <MudTooltip>
        <TooltipContent>
            <p>This is what has been donated so far for next month.</p>
            <p>Complete up to @Donations.Maximum donations before the end of the month to get a priority bonus next month.</p>
        </TooltipContent>
        <ChildContent>
            <MudText Inline="false">
                <MudIcon Class="text-icon" Icon="@CustomIcons.HandCoin" />
                Completed @Donations.NextMonth of @Donations.Maximum donations for next month.
            </MudText>
        </ChildContent>
    </MudTooltip>
    @if (Donations.NextMonth >= Donations.Maximum)
    {
        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small" Class="ml-1" />
    }
</div>

@code {
    [Parameter] public DonationSummaryDto Donations { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Donations is null) throw new ArgumentNullException(nameof(Donations));
    }
}
