@page "/teams"
@inject ApiClient Api
@inject IDialogService DialogService 

<h1>Raid Teams</h1>

<MudPaper>
    <ApiExecutor Operation="Api.Teams.GetAllTeamNames" Context="teamNames" @ref="_executor">
        <MudList Clickable="true">
            <MudListSubheader Class="d-flex align-baseline">
                <MudTooltip Text="Refresh Teams">
                    <MudIconButton OnClick="() => _executor?.RestartAsync()" Icon="@Icons.Material.Filled.Refresh" />
                </MudTooltip>

                <AuthorizeView Roles="@AppRoles.Administrator">
                    <MudTooltip Text="Add Team">
                        <MudFab OnClick="CreateClicked" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" />
                    </MudTooltip>
                </AuthorizeView>
            </MudListSubheader>
            @foreach (var team in teamNames)
            {
                <MudListItem Href="@("teams/" + team)">@team</MudListItem>
            }
        </MudList>
    </ApiExecutor>
</MudPaper>

@code {
    private IApiExecutor? _executor;

    private void CreateClicked()
    {
        DialogService.Show<Create>("Create Team");
    }
}
