@using ValhallaLootList.Client.Pages.Characters.LootList 
@inject ApiClient Api
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<LootListLayout LootList="LootList" Class="flex-grow-1">
    <HeaderContent>
        <MudText Color="_messageColor" Inline="false">@_message</MudText>
        @if (LootList.TeamId == Team.Id && LootList.RanksVisible)
        {
            <AuthorizeView Policy="@AppPolicies.RaidLeaderOrAdmin" Resource="Team" Context="auth">
                @if (LootList.Status == LootListStatus.Locked && LootList.TeamId == Team.Id)
                {
                    if (auth.User.IsAdmin())
                    {
                        <MudTooltip Text="Unlocking a loot list will hide rankings from non-leaders. If the list is unlocked and approval revoked, it becomes editable.">
                            <MudButton OnClick="UnlockAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LockOpen" Color="Color.Error" Class="ml-2">Unlock</MudButton>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">Loot list may only be unlocked by an officer.</MudText>
                    }
                }
                else if (LootList.Status == LootListStatus.Submitted || (!LootList.TeamId.HasValue && LootList.Status == LootListStatus.Locked))
                {
                    <MudTooltip Text="Approving a loot list is considered an acceptance onto the raid team.">
                        <MudButton OnClick="ApproveAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary">
                            Approve
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="Denying a loot list will allow it to be edited by the owner if the list is unlocked.">
                        <MudButton OnClick="DenyAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Clear" Color="Color.Error">
                            Deny
                        </MudButton>
                    </MudTooltip>
                }
                else if (LootList.Status == LootListStatus.Approved)
                {
                    <MudTooltip Text="Revoking an approval will allow it to be edited by the owner. This will not remove the player from the team.">
                        <MudButton OnClick="RevokeAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Clear" Color="Color.Error">
                            Revoke Approval
                        </MudButton>
                    </MudTooltip>
                    <MudTooltip Text="Locking a loot list will make rankings visible to non-leaders and prevent editing. This should generally be done after approval of all loot lists on a team.">
                        <MudButton OnClick="LockAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Lock" Color="Color.Error" Class="ml-2">Lock</MudButton>
                    </MudTooltip>
                }
            </AuthorizeView>
        }
    </HeaderContent>
    <EntryTemplate Context="entry">
        @if (Items.FirstOrDefault(item => item.Id == entry.ItemId) is ItemDto item)
        {
            <div class="d-flex align-center h-100">
                <CascadingItemContext Id="entry.ItemId">
                    @if (entry.Won)
                    {
                        <MudAvatar Size="Size.Small" Class="mr-2 h-100" Color="Color.Success">
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Check" />
                        </MudAvatar>
                    }
                    <MudAvatar Rounded Size="Size.Small" Class="mr-2 h-100">
                        <ItemIcon Size="IconSize.Small" Width="24" Height="24" />
                    </MudAvatar>
                    <ItemLink LinkEnabled Colorize Bracketize PlaceholderText="@item.Name" />
                </CascadingItemContext>
            </div>
            <ul>
                @foreach (var restriction in GetRestrictions(item, entry))
                {
                    <li>
                        <MudText Color="restriction.Level == ItemRestrictionLevel.ManualReview ? Color.Warning : Color.Error">
                            @restriction.Reason
                        </MudText>
                    </li>
                }
            </ul>
            @if (entry.Justification?.Length > 0)
            {
                <div>
                    Justification: @entry.Justification
                </div>
            }
        }
        else
        {
            <div class="d-flex align-center h-100">
                <MudAvatar Rounded Size="Size.Small" Class="mr-2 h-100" Color="Color.Dark" />
                <span class="q0">[Empty Slot]</span>
            </div>
        }
    </EntryTemplate>
</LootListLayout>

@code {
    private Color _messageColor;
    private string? _message;

    [Parameter] public TeamDto Team { get; set; } = null!;
    [Parameter] public LootListDto LootList { get; set; } = null!;
    [Parameter] public IList<ItemDto> Items { get; set; } = null!;
    [Parameter] public EventCallback<LootListDto> StatusUpdated { get; set; }

    protected override void OnParametersSet()
    {
        if (Team is null) throw new ArgumentNullException(nameof(Team));
        if (LootList is null) throw new ArgumentNullException(nameof(LootList));
        if (Items is null) throw new ArgumentNullException(nameof(Items));
        SetMessage();
    }

    private void SetMessage()
    {
        (_message, _messageColor) = LootList.Status switch
        {
            LootListStatus.Editing => ("Loot List is still being edited.", Color.Error),
            LootListStatus.Submitted => ("Loot List is awaiting approval.", Color.Warning),
            LootListStatus.Approved => ("Loot List is approved but unlocked.", Color.Warning),
            LootListStatus.Locked when LootList.TeamId != Team.Id => ("Loot List is locked.", Color.Warning),
            LootListStatus.Locked => ("Loot List is approved and locked.", Color.Success),
            _ => ("Unrecognized status.", Color.Error)
        };
    }

    private IEnumerable<RestrictionDto> GetRestrictions(ItemDto item, LootListEntryDto entry)
    {
        return item.GetRestrictions(LootList.MainSpec, LootList.OffSpec, entry.BracketAllowsOffspec);
    }

    private Task RevokeAsync()
    {
        return Api.LootLists.Revoke(LootList)
            .OnSuccess((_, _) =>
            {
                SetMessage();
                return StatusUpdated.InvokeAsync(LootList);
            })
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    private Task LockAsync()
    {
        return Api.LootLists.Lock(LootList)
            .OnSuccess((_, _) =>
            {
                SetMessage();
                return StatusUpdated.InvokeAsync(LootList);
            })
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    private Task UnlockAsync()
    {
        return Api.LootLists.Unlock(LootList)
            .OnSuccess((_, _) =>
            {
                SetMessage();
                return StatusUpdated.InvokeAsync(LootList);
            })
            .SendErrorTo(Snackbar)
            .ExecuteAsync();
    }

    private async Task ApproveAsync()
    {
        var result = await DialogService.Show<SetMessageDialog>("Approve Loot List").Result;

        if (!result.Cancelled)
        {
            await Api.LootLists.Approve(LootList, (string?)result.Data)
                .OnSuccess(async (response, _) =>
                {
                    LootList.TeamId = Team.Id;
                    LootList.TeamName = Team.Name;
                    SetMessage();
                    StateHasChanged();
                    await StatusUpdated.InvokeAsync(LootList);

                    //if (!Team.Roster.Any(m => m.Character.Id == LootList.CharacterId) && response.Member is not null)
                    //{
                    //    Team.Roster.Add(response.Member);
                    //    await RosterChanged.InvokeAsync();
                    //}
                })
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }

    private async Task DenyAsync()
    {
        var result = await DialogService.Show<SetMessageDialog>("Deny Loot List").Result;

        if (!result.Cancelled)
        {
            await Api.LootLists.Reject(LootList, (string?)result.Data)
                .OnSuccess((_, _) =>
                {
                    SetMessage();
                    return StatusUpdated.InvokeAsync(LootList);
                })
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }
}
