@inject ApiClient Api
@inject IDialogService DialogService
@inject ISnackbar Snackbar  
 
<MudCard Elevation="5">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Roster</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <AuthorizeView Policy="@AppRoles.RaidLeader" Resource="@Team.Id">
                <MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Default" OnClick="() => AddMemberAsync(Team)" />
            </AuthorizeView>
        </CardHeaderActions>
    </MudCardHeader>
    <MudList>
        @foreach (var ch in Team.Roster.OrderByRoleThenClassThenName())
        {
            var character = ch;
            <MudDivider />
            <MudListItem Class="mud-list-item-clickable" Style="cursor: auto">
                <div class="d-flex">
                    <MudAvatar Class="mr-2">
                        <RaceIcon Race="character.Race" Gender="character.Gender" Size="IconSize.Medium" width="40" height="40" />
                    </MudAvatar>
                    <MudAvatar Class="mr-5">
                        @if (character.CurrentPhaseMainspec.HasValue)
                        {
                            <SpecIcon Size="IconSize.Medium" Spec="character.CurrentPhaseMainspec.Value" width="40" height="40" />
                        }
                        else
                        {
                            <ClassIcon Size="IconSize.Medium" PlayerClass="character.Class" width="40" height="40" />
                        }
                    </MudAvatar>
                    <div class="mr-auto">
                        <MudText Inline="false">
                            <MudLink Href="@("characters/" + character.Name)">@character.Name</MudLink>
                        </MudText>
                        @if (character.MemberStatus == RaidMemberStatus.Member)
                        {
                            <MudText Inline="false">Member</MudText>
                        }
                        else
                        {
                            <MudText Inline="false" Color="Color.Warning">Trial (@(character.MemberStatus == RaidMemberStatus.HalfTrial ? -9 : -18))</MudText>
                        }
                    </div>
                    <AuthorizeView Policy="@AppRoles.RaidLeader" Resource="@Team.Id">
                        <MudTooltip Text="Update">
                            <MudIconButton OnClick="() => UpdateMemberAsync(Team, character)" Icon="@Icons.Material.Filled.Edit" Color="Color.Inherit" />
                        </MudTooltip>
                        <MudTooltip Text="Remove">
                            <MudIconButton OnClick="() => RemoveMemberAsync(Team, character)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" />
                        </MudTooltip>
                    </AuthorizeView>
                </div>
            </MudListItem>
        }
    </MudList>
</MudCard>

@code {
    [Parameter] public TeamDto Team { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Team is null) throw new ArgumentNullException(nameof(Team));
    }

    private async Task AddMemberAsync(TeamDto team)
    {
        var result = await DialogService.ShowAsync<MemberAdder, TeamCharacterDto>(
            "Add Member",
            new() { [nameof(MemberAdder.Team)] = team },
            new() { MaxWidth = MaxWidth.ExtraSmall, FullWidth = true });

        if (result is not null)
        {
            team.Roster.Add(result);
        }
    }

    private async Task UpdateMemberAsync(TeamDto team, TeamCharacterDto character)
    {
        var result = await DialogService.ShowAsync<UpdateMemberDialog, RaidMemberStatus?>(
            "Update Member",
            new() { [nameof(UpdateMemberDialog.Team)] = team, [nameof(UpdateMemberDialog.Character)] = character },
            new() { MaxWidth = MaxWidth.ExtraSmall, FullWidth = true });

        if (result.HasValue)
        {
            character.MemberStatus = result.Value;
        }
    }

    private async Task RemoveMemberAsync(TeamDto team, TeamCharacterDto character)
    {
        if (await DialogService.ShowAsync<RemoveMemberDialog, bool>("Remove Member", new() { [nameof(RemoveMemberDialog.CharacterName)] = character.Name }))
        {
            await Api.Teams.RemoveMember(team.Id, character.Id)
                .OnSuccess(_ =>
                {
                    team.Roster.Remove(character);
                    StateHasChanged();
                })
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }
}