@inject ApiClient Api
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudExpansionPanels Elevation="5" Dense="true" Class="mt-3">
    @foreach (var m in Team.Roster
        .OrderBy(m => m.Bench)
        .ThenBy(m => (int?)(m.LootLists.FirstOrDefault(l => l.Phase == _phase)?.MainSpec.GetRole()) ?? int.MaxValue)
        .ThenBy(m => m.Character.Name))
    {
        var member = m;
        var selected = member.Character.Id == _selectedMemberId;
        var phaseLootList = member.LootLists.Find(ll => ll.Phase == _phase);
        <MudExpansionPanelEx DenseHeader="true" IsExpanded="selected" IsExpandedChanged="expanded => _selectedMemberId = expanded ? member.Character.Id : null" @key="member.Character.Id">
            <TitleContent>
                <div class="d-flex align-center">
                    <PlayerIcon Race="member.Character.Race"
                                Gender="member.Character.Gender"
                                PlayerClass="member.Character.Class"
                                Spec="phaseLootList?.MainSpec ?? Specializations.None"
                                ShowTooltip="true"
                                Class="mr-5 mb-1" />
                    <MudText Inline="true" Typo="Typo.h5" Class="mr-2">@member.Character.Name</MudText>
                    @if (member.Bench)
                    {
                        <MudText Inline="true" Color="Color.Primary" Class="mr-2">Bench</MudText>
                    }
                    @if (member.Status != RaidMemberStatus.Member)
                    {
                        <MudText Inline="true" Color="Color.Warning" Class="mr-2">Trial</MudText>
                    }
                    @if (phaseLootList is null || phaseLootList.Approved == false || phaseLootList.Status != LootListStatus.Locked || !member.Character.Verified)
                    {
                        <MudTooltip>
                            <TooltipContent>
                                @if (phaseLootList is null)
                                {
                                    <p>No loot list for this phase!</p>
                                }
                                else if (phaseLootList.Approved == false)
                                {
                                    <p>Loot list has not been approved yet!</p>
                                }
                                else if (phaseLootList.Status != LootListStatus.Locked)
                                {
                                    <p>Loot list has not been locked yet!</p>
                                }
                                @if (!member.Character.Verified)
                                {
                                    <p>Character ownership has not been verified!</p>
                                    <p>Have an officer verify the owner of this character.</p>
                                }
                            </TooltipContent>
                            <ChildContent>
                                <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.Warning" Class="mr-2" />
                            </ChildContent>
                        </MudTooltip>
                    }
                    @if (Team.Size != 10)
                    {
                        @if (!member.Enchanted)
                        {
                            <MudTooltip Text="Gem & enchant bonus is not active">
                                <MudIcon Color="Color.Warning" Icon="@CustomIcons.Diamond" Class="mr-2" />
                            </MudTooltip>
                        }
                        @if (member is not { Prepared: true })
                        {
                            <MudTooltip Text="Prepared bonus is not active">
                                <MudIcon Color="Color.Warning" Icon="@CustomIcons.Illidan" Class="mr-2" />
                            </MudTooltip>
                        }
                        @if (member.DonatedNextMonth < member.MaximumDonationTickets)
                        {
                            <MudTooltip>
                                <TooltipContent>
                                    Completed @member.DonatedNextMonth of @member.MaximumDonationTickets tickets for next month.
                                </TooltipContent>
                                <ChildContent>
                                    <MudIcon Color="Color.Warning" Icon="@CustomIcons.HandCoin" Class="mr-2" />
                                </ChildContent>
                            </MudTooltip>
                        }
                    }
                </div>
            </TitleContent>
            <ChildContent>
                <MemberView Team="Team" Member="member" Phase="_phase" MemberUpdated="StateHasChanged" />
            </ChildContent>
        </MudExpansionPanelEx>
    }
</MudExpansionPanels>

@code {
    private byte _phase;
    private long? _selectedMemberId;

    [Parameter] public TeamDto Team { get; set; } = null!;
    [Parameter] public string? SelectedMemberName { get; set; }
    [Parameter] public byte? SelectedPhase { get; set; }
    [Parameter] public byte CurrentPhase { get; set; }
    [Parameter] public EventCallback OnRefreshClicked { get; set; }

    protected override void OnParametersSet()
    {
        if (Team is null) throw new ArgumentNullException(nameof(Team));
        _phase = SelectedPhase ?? CurrentPhase;
    }
}