@page "/Teams/{team}"
@inject ApiClient Api
@inject IDialogService DialogService

<ApiExecutor Operation="() => Api.Teams.Get(Team)" Context="team">
    <h1>@team.Name</h1>

    @foreach (var schedule in team.Schedules)
    {
        var startDate = new DateTime(schedule.RealmTimeStart.Ticks);
        <h4>@(schedule.Day)s from @(startDate.ToString("t", CultureInfo.CurrentCulture)) to @(startDate.Add(schedule.Duration).ToString("t", CultureInfo.CurrentCulture))</h4>
    }

    <div class="d-flex">
        <MudButton Link="@($"teams/{team.Name}/standings")" Variant="Variant.Filled" Color="Color.Primary" Class="mr-3">View Loot Standings</MudButton>
        <AuthorizeLeaderView TeamId="@team.Id">
            <MudButton OnClick="() => StartRaid(team)" Variant="Variant.Filled" Color="Color.Primary">Start Raid</MudButton>
        </AuthorizeLeaderView>
    </div>

    <MudGrid Class="mt-5">
        <AuthorizeView Roles="@AppRoles.Administrator">
            <MudItem xs="12">
                <AdminView Team="team" />
            </MudItem>
        </AuthorizeView>
        <MudItem xs="12" md="6">
            <TeamMembers Team="team" />
        </MudItem>
        <MudItem xs="12" md="6">
            <TeamRaids Team="team" />
        </MudItem>
    </MudGrid>
</ApiExecutor>

@code {
    [Parameter] public string Team { get; set; } = string.Empty;

    private void StartRaid(TeamDto team)
    {
        DialogService.Show<RaidStarter>("Start Raid", parameters: new() { [nameof(RaidStarter.Team)] = team });
    }
}
