<MudCard Elevation="3" Class="my-4">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Bracket @(Model.Brackets.IndexOf(Bracket) + 1)</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <ul>
            <li>
                Up to @(Bracket.Template.MaxItems == 1 ? "1 item" : $"{Bracket.Template.MaxItems} items") per rank allowed
            </li>
            @if (Bracket.Template.AllowOffSpec)
            {
                <li>Offspec items allowed</li>
            }
            else
            {
                <li>No offspec items</li>
            }
            @if (!Bracket.Template.AllowTypeDuplicates)
            {
                <li>Only one item per category allowed</li>
            }
        </ul>
    </MudCardContent>
    <MudList Dense="true">
        @foreach (var row in Bracket.Items.OrderByDescending(r => r.Key))
        {
            <MudDivider />
            <MudListItem>
                <MudGrid>
                    <MudItem md="3" lg="2"><b>Rank @row.Key</b></MudItem>
                    @for (int col = 0; col < row.Value.Length; col++)
                    {
                        int column = col;
                        uint id = row.Value[col];
                        var item = id == 0 ? null : Items.FirstOrDefault(x => x.Id == id);

                        <MudItem>
                            <ItemLink Id="id" @onclick="async () => await SelectionRequested.InvokeAsync(new() { Bracket = Bracket, Column = column, Rank = row.Key })">
                                @if (id == 0)
                                {
                                    <span class="text-primary">Select Item</span>
                                }
                                else
                                {
                                    <ItemLinkIcon Size="IconSize.Tiny" />
                                    <ItemLinkText OverrideText="@item?.Name" Colorize="true" Bracketize="true" />
                                }
                            </ItemLink>
                            @if (item is not null)
                            {
                                var restrictions = item.Restrictions.Where(r => (r.Specs & Model.MainSpec) != 0);

                                if (Bracket.Template.AllowOffSpec && Model.OffSpec.HasValue)
                                {
                                    var offspecRestrictions = item.Restrictions.Where(r => (r.Specs & Model.OffSpec) != 0);

                                    if (restrictions.Any() ^ offspecRestrictions.Any())
                                    {
                                        restrictions = Array.Empty<RestrictionDto>();
                                    }
                                }
                                <ul>
                                    @foreach (var restriction in restrictions)
                                    {
                                        <li class="@(restriction.Level == ItemRestrictionLevel.ManualReview ? "text-warning" : "text-danger")">
                                            @restriction.Reason
                                        </li>
                                    }
                                </ul>
                            }
                        </MudItem>
                    }
                </MudGrid>
            </MudListItem>
        }
    </MudList>
</MudCard>

@code {
    [Parameter] public IList<ItemDto> Items { get; set; } = null!;
    [Parameter] public LootListSubmissionBracket Bracket { get; set; } = null!;
    [Parameter] public LootListSubmissionModel Model { get; set; } = null!;
    [Parameter] public EventCallback<ItemSelectionContext> SelectionRequested { get; set; }

    protected override void OnParametersSet()
    {
        if (Bracket is null) throw new ArgumentNullException(nameof(Bracket));
        if (Items is null) throw new ArgumentNullException(nameof(Items));
        if (Model is null) throw new ArgumentNullException(nameof(Model));
    }
}
