
@if (_lootList is not null)
{
    <div class="card">
        @if (!_lootList.Locked && _lootList.Owned)
        {
            <div class="card-body">
                <button class="btn btn-primary btn-sm" type="button">Edit</button>
            </div>
        }
        <ul class="list-group list-group-flush">
            @if (_lootList.Owned || _lootList.Locked)
            {
                @foreach (var row in _lootList.Entries.GroupBy(e => e.Rank).OrderByDescending(g => g.Key))
                {
                    <li class="list-group-item p-1">
                        <div class="row mx-0">
                            <div class="col-md-3 col-lg-2 font-weight-bold">Rank @row.Key</div>
                            @foreach (var entry in row)
                            {
                                <div class="col-md">
                                    @if (entry.ItemId > 0)
                                    {
                                        <ItemLink Id="entry.ItemId" LinkEnabled="true" Colorize="true" Bracketize="true" OverrideText="@entry.ItemName" /> 
                                    }
                                    @if (entry.Prio.HasValue)
                                    {
                                        @: Prio: @entry.Prio 
                                    }
                                    else if (entry.Won)
                                    {
                                        <span class="fas fa-check text-success" aria-hidden="true"></span>
                                        <span class="sr-only">Won</span>
                                    }
                                </div>
                            }
                        </div>
                    </li>
                }
            }
            else
            {
                @foreach (var entry in _lootList.Entries.OrderBy(e => e.ItemName))
                {
                    <li class="list-group-item p-1">
                        <ItemLink Id="entry.ItemId" LinkEnabled="true" Colorize="true" Bracketize="true" OverrideText="@entry.ItemName" /> 
                        @if (entry.Won)
                        {
                            <span class="fas fa-check text-success" aria-hidden="true"></span>
                            <span class="sr-only">Won</span>
                        }
                    </li>
                }
            }
        </ul>
    </div>
}
else if (_createList)
{
    <CreateList Character="@Character" Phase="@Phase" OnLootListCreated="OnLootListCreated" />
}
else
{
    <p>No Phase @Phase loot list was created.</p>
    @if (Character?.Editable == true)
    {
        <button class="btn btn-primary" @onclick="() => _createList = true">Create List</button>
    }
}

@code {
    [Parameter] public byte Phase { get; set; }
    [Parameter] public CharacterDto? Character { get; set; }
    [Parameter] public IList<LootListDto>? LootLists { get; set; }
    private LootListDto? _lootList;
    private bool _createList;

    protected override void OnParametersSet()
    {
        _lootList = LootLists?.FirstOrDefault(ll => ll.Phase == Phase);
    }

    private void OnLootListCreated(LootListDto lootList)
    {
        LootLists?.Add(lootList);
        _lootList = lootList;
        StateHasChanged();
    }
}