@page "/Characters/{character}"
@inject ApiClient Api
@inject NavigationManager Nav

@if (_character is null)
{
    <LoadingIndicator />
}
else
{
    <h1>
        @_character.Name
        <RaceIcon Gender="_character.Gender" Race="_character.Race" Size="IconSize.Large" />
        <ClassIcon PlayerClass="_character.Class" Size="IconSize.Large" />
    </h1>

    @if (_character.TeamName?.Length > 0)
    {
        <h2><a href="teams/@_character.TeamName">&lt;@_character.TeamName&gt;</a></h2>
    }

    <Tabs SelectedTab="@_selectedPhase" SelectedTabChanged="phase => _selectedPhase = phase">
        <Items>
            @for (byte b = Constants.MinimumPhase; b <= Constants.MaximumPhase; b++)
            {
                var phase = b;
                <Tab Name="@phase.ToString()">
                    Phase @phase.ToString()
                </Tab>
            }
        </Items>
        <Content>
            @for (byte b = Constants.MinimumPhase; b <= Constants.MaximumPhase; b++)
            {
                var phase = b;
                <TabPanel Name="@phase.ToString()">
                    <LootListView Character="@_character" Phase="@phase" LootLists="_lootLists" />
                </TabPanel>
            }
        </Content>
    </Tabs>
}

@code {
    [Parameter] public string Character { get; set; } = string.Empty;

    private string _selectedPhase = Constants.MinimumPhase.ToString();
}
